<div class="row v-center">
    <div class="col-lg-9 col-md-8 col-xs-12 col-sm-12">
    	<h1 class="page-header">Libro de Socios</h1>
    </div>
    <div class="col-md-4 col-lg-3 col-xs-12 col-sm-12">
      <div class="btn-group">
    	<div class="btn-group text-right" dropdown is-open="status.isopen">
      		<button type="button" class="btn btn-primary dropdown-toggle" ng-disabled="disabled">
        		Opciones <span class="caret"></span>
      		</button> 
      		<ul class="dropdown-menu dropwdown-menu-right" role="menu">
      			<li role="presentation" class="dropdown-header">ORDENAR POR</li>
       			<li>
       				<a data-ng-click="pagination.by = 'id'">Id<span data-ng-class="isChecked('id','by')"></span></a>
    			</li> 
    			<li>
      				<a data-ng-click="pagination.by = 'name'">Nombre<span data-ng-class="isChecked('name','by')"></span></a>
		    	</li> 
    			<li>
      				<a data-ng-click="pagination.by = 'surname'">Apellido<span data-ng-class="isChecked('surname','by')"></span></a>
    			</li> 
    			<li>
      				<a data-ng-click="pagination.by = 'created_at'">Fecha de Alta<span data-ng-class="isChecked('created_at','by')"></span></a>    	
    			</li>  
    			<li class="divider"></li>
    			<li role="presentation" class="dropdown-header">DIRECCION</li>
       			<li>
              <a data-ng-click="pagination.dir = 'ASC'">Ascendente<span data-ng-class="isChecked('ASC','dir')"></span></a>
            </li>
            <li>
      				<a data-ng-click="pagination.dir = 'ASC'">Ascendente<span data-ng-class="isChecked('ASC','dir')"></span></a>
    			</li> 
    			<li>
      				<a data-ng-click="pagination.dir = 'DESC'">Descendente<span data-ng-class="isChecked('DESC','dir')"></span></a>
    	
    			</li> 
    	 		<li class="divider"></li>
        		<li role="presentation" class="dropdown-header">Mostrar</li>
       			<li>
      				<a data-ng-click="pagination.maxItems = '5'">5<span data-ng-class="isChecked('5','maxItems')"></span></a>
    			</li>
    	 		<li>
      				<a data-ng-click="pagination.maxItems = '10'">10<span data-ng-class="isChecked('10','maxItems')"></span></a>
    			</li> 
    			<li>
    				<a data-ng-click="pagination.maxItems = '25'">25<span data-ng-class="isChecked('25','maxItems')"></span></a>
    			</li>
    			<li>
    				<a data-ng-click="pagination.maxItems = '50'">50<span data-ng-class="isChecked('50','maxItems')"></span></a>
    			</li> 
    	 		<li class="divider"></li>
    	 		<li>
    	 		    <a data-ng-click="loadSocios()"><i class="glyphicon glyphicon-refresh"></i>  Actualizar</a>
    			</li>
    			<li>
      				<a data-ng-click="reset()"><i class="glyphicon glyphicon-trash"></i>  Reset</a>
    			</li>
		    </ul>
    	</div>
        <button class='btn btn-primary' data-ng-click="loadSocios()" >
          <span class='glyphicon glyphicon-refresh'></span>
        </button>
        <button class='btn btn-primary' data-ng-click="reset()" >
          <span class='glyphicon glyphicon-trash'></span>
        </button>
      </div>
    </div>
</div>
<div class="row">
	<div class="col-xs-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<i class="fa fa-list fa-fw"></i> Listado de Socios
			</div>
			<table class="table table-striped table-hover">
				<tr>
					<th>#</th>
					<th>NOMBRE</th>
					<th>APELLIDO</th>
					<th>ESN CARD</th>
					<th>ALTA</th>
					<th></th>
				</tr>
				<tr ng-repeat="socio in socios">
					<td>
						<a ui-sref="logged.socios.socio({socioId: socio.id})">{{socio.id}}</a>
					</td>
					<td>{{socio.name}}</td>
					<td>{{socio.surname}}</td>
					<td>{{socio.esncard}}</td>
					<td>{{socio.created_at}}</td>
					<td>
						<a ui-sref="logged.socios.socio({ socioId: socio.id , mode: 'edit' })" class='btn btn-primary btn-sm active' tooltip-popup-delay='500' tooltip='editar socio' role='button'>
							<span class='glyphicon glyphicon-pencil'></span>
						</a>
						<button class='btn btn-danger btn-sm' tooltip-placement="right" tooltip-popup-delay='500' tooltip='eliminar socio' ng-click="remove(socio)">
							<span class='glyphicon glyphicon-remove'></span>
						</button>
					</td>
				</tr>
			</table>
			<div id="getTable-Pagination" class='text-center'>
				<h5>
					<strong>Mostrando
					<span class="badge">{{socios.length}}</span> resultados de
					<span class="badge">{{pagination.totalItems}}</span>
					</strong>
				</h5>
				<pagination boundary-links="true" total-items="pagination.totalItems" ng-model="pagination.currentPage" items-per-page="pagination.maxItems" ng-change="loadSocios()" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
			</div>
		</div>
	</div>
</div>
		
		
