config/*.php
.DS_Store
.settings
*.sublime-project
*.sublime-workspace
.idea
var/security_cache/*
var/logs/*.log
.tresorit/*
*.ini
todo
sftp-config.json
*.phar
docs*
*.sw*
*~
build/
node_modules/
vendor/
vendorjs/
build/
/app/

