<div id='error'>
	<h3>{{error.code}}</h3>
	<p>{{error.descripcion}}</p>
</div>
<div class='getTable'>
	<div class="table-responsive">
		<div class='text-center'><h1>Libro de Socios</h1></div>
	<table class="table table-striped table-hover">
		<tr>
			<th>#</th>
			<th>NOMBRE</th>
			<th>APELLIDO</th>
			<th>ESN CARD</th>
			<th>PASAPORTE</th>
			<th>EMAIL</th>
			<th>ALTA</th>
			<th></th>
		</tr>
		<tr ng-repeat="socio in socios">
			<td><a ng-href='/app/socios/{{socio.id}}'>{{socio.id}}</a></td>
			<td>{{socio.nombre}}</td>
			<td>{{socio.apellido}}</td>
			<td>{{socio.esncard}}</td>
			<td>{{socio.passport}}</td>
			<td>{{socio.email}}</td>
			<td>{{socio.created_at}}</td>
			<td>
				<button class='btn btn-invisible btn-sm' tooltip-popup-delay='500' tooltip='editar socio'><span class='glyphicon glyphicon-pencil' ng-click="edit(socio)"></span></button>
				<button class='btn btn-invisible btn-sm' tooltip-placement="right" tooltip-popup-delay='500' tooltip='eliminar socio' ng-click="delete(socio)"><span class='glyphicon glyphicon-remove'></span></button>
			</td>
		</tr>
	</table>
	<div id="getTable-Options" class="text-right well well-sm">
		<h4 ng-click="toCollapse()">
			<span class="glyphicon" ng-class='{"glyphicon-collapse-down": isCollapsed===true , "glyphicon-collapse-up": isCollapsed===false}'></span> Opciones
		</h4>
		<div ng-class="{'collapse': isCollapsed}">
			<div class='text-left'>
				<div class='row'>
					<div class="col-md-6">
						<h5>Ordenar por:</h5>
						<div class="btn-group">
							<button type="button" class="btn btn-success btn-xs" ng-model="options.orderBy" btn-radio="'created_at'">Fecha de Alta</button>
							<button type="button" class="btn btn-success btn-xs" ng-model="options.orderBy" btn-radio="'nombre'">Nombre</button>
							<button type="button" class="btn btn-success btn-xs" ng-model="options.orderBy" btn-radio="'apellido'">Apellido</button>
						</div>
					</div>
					<div class="col-md-6">
						<h5>En dirección:</h5>
						<div class="btn-group">
							<button type="button" class="btn btn-success btn-xs" ng-model="options.orderDir" btn-radio="'ASC'">Ascendente</button>
							<button type="button" class="btn btn-success btn-xs" ng-model="options.orderDir" btn-radio="'DESC'">Descendente</button>
						</div>
					</div>
				</div>
				<div class='row'>
					<div class="col-md-12">
						<p>Ir directamente a la página número <input type="number" min="1" max="{{numPages}}" style="width:3em" ng-model="options.currentPage">, mostrando <select ng-model="options.maxResults">
							<option value="10">10</option>
							<option value="25">25</option>
							<option value="50">50</option>
							<option value="100">100</option></select> resultados por página.
						</p>
					</div>
				</div>
				<div class='row'>
					<div class="col-md-12">
						<button type="submit" class="btn btn-success btn-small" ng-click="actualizar()"><span class='glyphicon glyphicon-refresh'></span></button>
						<button type="submit" class="btn btn-success btn-small" ng-click="reset()"><span class='glyphicon glyphicon-trash'></span></button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="getTable-Pagination" class='text-center'>
		<h5><strong>Mostrando <span class="badge">{{socios.length}}</span> resultados de <span class="badge">{{totalItems}}</span></strong></h5>
		<pagination boundary-links="true" total-items="totalItems" page="currentPage" items-per-page="maxResults" class="pagination-sm" on-select-page="changePage(page)" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" num-pages="numPages"></pagination>
	</div>
</div>
	

