<div class="col-xs-12">
    <h1 class="page-header">Nuevo socio</h1>
   
    <form name='nuevoSocio' class="form-horizontal " role="form">
        <div class="form-group" ng-class="{'ng-invalid': nuevoSocio.esncard.$invalid===true,'ng-valid': nuevoSocio.esncard.$valid===true,'ng-pristine': nuevoSocio.esncard.$dirty===false}">
            <label for="esncard" class="col-xs-10 col-xs-offset-1 col-sm-3 col-sm-offset-1 col-md-2 col-md-offset-2 control-label">ESN Card</label>
            <div class="col-xs-10 col-xs-offset-1 col-sm-7 col-sm-offset-0 col-md-4">
                <input type="text" class="form-control" id="esncard" name='esncard' placeholder="ESN Card" ng-model="socio.esncard" ng-minlength="10" ng-maxlength="15" required>
            </div>
            <div class="col-xs-10 col-xs-offset-1 col-sm-7 col-sm-offset-0 col-md-4">
                <p class="error" ng-show="nuevoSocio.esncard.$invalid&&nuevoSocio.esncard.$dirty">¡Introduce un número válido!</small>
            </div>
        </div>
        <div class="form-group" ng-class="{'ng-invalid': nuevoSocio.created_at.$invalid===true,'ng-valid': nuevoSocio.created_at.$valid===true,'ng-pristine': nuevoSocio.created_at.$dirty===false}">
            <label for="created_at" class="col-xs-10 col-xs-offset-1 col-sm-3 col-sm-offset-1 col-md-2 col-md-offset-2 control-label">Fecha de Alta</label>
            <div class="col-xs-10 col-xs-offset-1 col-sm-7 col-sm-offset-0 col-md-4">
                <input type="date" class="form-control" id="created_at" name='created_at' placeholder="Fecha de Alta" ng-model="socio.created_at" ui-date-format required>
            </div>
        </div>
        <div class="form-group" ng-class="{'ng-invalid': nuevoSocio.name.$invalid===true,'ng-valid': nuevoSocio.name.$valid===true,'ng-pristine': nuevoSocio.name.$dirty===false}">
            <label for="nombre" class="col-xs-10 col-xs-offset-1 col-sm-3 col-sm-offset-1 col-md-2 col-md-offset-2 control-label">Nombre</label>
            <div class="col-xs-10 col-xs-offset-1 col-sm-7 col-sm-offset-0 col-md-4">
                <input type="text" class="form-control" id="nombre" name='nombre' placeholder="Nombre" ng-model="socio.name" ng-minlength="2" ng-maxlength="50" required>
            </div>
            <div class="col-xs-10 col-xs-offset-1 col-sm-7 col-sm-offset-0 col-md-4">
                <p class="error" ng-show="nuevoSocio.name.$invalid&&nuevoSocio.name.$dirty">¡Entre 2 y 50 caracteres!</small>
            </div>
        </div>
        <div class="form-group" ng-class="{'ng-invalid': nuevoSocio.surname.$invalid===true,'ng-valid': nuevoSocio.surname.$valid===true,'ng-pristine': nuevoSocio.surname.$dirty===false}">
            <label for="surname" class="col-xs-10 col-xs-offset-1 col-sm-3 col-sm-offset-1 col-md-2 col-md-offset-2 control-label">Apellido</label>
            <div class="col-xs-10 col-xs-offset-1 col-sm-7 col-sm-offset-0 col-md-4">
                <input type="text" class="form-control" id="surname" name="surname" placeholder="Apellido" ng-model="socio.surname" ng-minlength="2" ng-maxlength="50" required>
            </div>
            <div class="col-xs-10 col-xs-offset-1 col-sm-7 col-sm-offset-0 col-md-4">
                <p class="error" ng-show="nuevoSocio.surname.$invalid&&nuevoSocio.surname.$dirty">¡Entre 2 y 50 caracteres!</small>
            </div>
        </div>
        <div class="form-group" ng-class="{'ng-invalid': nuevoSocio.email.$invalid===true,'ng-valid': nuevoSocio.email.$valid===true,'ng-pristine': nuevoSocio.email.$dirty===false}">
            <label for="email" class="col-xs-10 col-xs-offset-1 col-sm-3 col-sm-offset-1 col-md-2 col-md-offset-2 control-label">Email</label>
            <div class="col-xs-10 col-xs-offset-1 col-sm-7 col-sm-offset-0 col-md-4">
                <input type="email" class="form-control" id="email" name="email" placeholder="Email" ng-model="socio.email" ng-minlength="2" ng-maxlength="50" required>
            </div>
            <div class="col-xs-10 col-xs-offset-1 col-sm-7 col-sm-offset-0 col-md-4">
                <p class="error" ng-show="nuevoSocio.email.$invalid&&nuevoSocio.email.$dirty">¡Introduce un e-mail válido!</small>
            </div>
        </div>
        <div class="form-group" ng-class="{'ng-invalid': nuevoSocio.passport.$invalid===true,'ng-valid': nuevoSocio.passport.$valid===true,'ng-pristine': nuevoSocio.passport.$dirty===false}">
            <label for="passport" class="col-xs-10 col-xs-offset-1 col-sm-3 col-sm-offset-1 col-md-2 col-md-offset-2 control-label">ID/Passport</label>
            <div class="col-xs-10 col-xs-offset-1 col-sm-7 col-sm-offset-0 col-md-4">
                <input type="text" class="form-control" id="passport" name="passport" placeholder="ID/Passport" ng-model="socio.passport" ng-minlength="5" ng-maxlength="20" required>
            </div>
            <div class="col-xs-10 col-xs-offset-1 col-sm-7 col-sm-offset-0 col-md-4">
                <p class="error" ng-show="nuevoSocio.passport.$invalid&&nuevoSocio.passport.$dirty">¡Introduce un pasaporte válido!</small>
            </div>
        </div>
        <div class="form-group" ng-class="{'ng-invalid': nuevoSocio.country.$invalid===true,'ng-valid': nuevoSocio.country.$valid===true,'ng-pristine': nuevoSocio.country.$dirty===false}">
            <label for="country" class="col-xs-10 col-xs-offset-1 col-sm-3 col-sm-offset-1 col-md-2 col-md-offset-2 control-label">Pais</label>
            <div class="col-xs-10 col-xs-offset-1 col-sm-7 col-sm-offset-0 col-md-4">
                <select ng-model="socio.country" class='form-control' name='country' required>
                    <option ng-repeat="country in countries" value="{{country[0]}}">{{country[1]}}</option>
                </select>
            </div>
        </div>
        <div class="form-group" ng-class="{'ng-invalid': nuevoSocio.language.$invalid===true,'ng-valid': nuevoSocio.language.$valid===true,'ng-pristine': nuevoSocio.language.$dirty===false}">
            <label for="language" class="col-xs-10 col-xs-offset-1 col-sm-3 col-sm-offset-1 col-md-2 col-md-offset-2 control-label">Idioma</label>
            <div class="col-xs-10 col-xs-offset-1 col-sm-7 col-sm-offset-0 col-md-4">
                <select ng-model="socio.language" class='form-control' name='language' required>
                    <option ng-repeat="language in languages" value="{{language.value}}">{{language.value}}</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-10 col-xs-offset-1 col-sm-7 col-sm-offset-4">
                <button type="submit" class="btn btn-lg active" ng-click='registrar()' ng-class="{'btn-danger': nuevoSocio.$invalid===true,'btn-success': nuevoSocio.email.$valid===true}">
                    <span class='glyphicon glyphicon-save'></span>GUARDAR
                </button>
            </div>
        </div>
    </form>
</div> 
