<div id="registrar-modal" class="modal-content">
    <div class="modal-header">
        <h3>REGISTRO</h3>
    </div>
    <div class="modal-body">

        <div class="hide" ng-class="{'show': (successFlag||failFlag)===false}">
            <h4>Nuestros monos están en ello...</h4>
        </div>
        <div class="hide" ng-class="{'show': failFlag===true}">
            <h4 class="text-danger">¡Algo terrible, apocalíptico ha sucedido!</h4>
        </div>
        <div class="hide" ng-class="{'show': successFlag===true}">
            <h4 class="text-success">!Hecho!</h4>
        </div>
        <div class="progress progress-striped active">
            <div class="progress-bar {{status}}" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: {{progress}}%">
            </div>
        </div>
        <div class="hide" ng-class="{'show': failFlag===true}">

            <div class="well well-sm">
                <h5 ng-click="isCollapsed = !isCollapsed">Mostrar errores
                    <span class="glyphicon" ng-class='{"glyphicon-collapse-down": isCollapsed===true , "glyphicon-collapse-up": isCollapsed===false}'></span>
                </h5>
                <pre ng-class="{'collapse': isCollapsed}">{{errors | json}}</pre>
            </div>
        </div>




    </div>
    <div class="modal-footer">
        <button class="btn btn-success hide" ng-class="{'show': successFlag===true}" ng-click="volver()">
            VOLVER
        </button>
        <button class="btn btn-danger hide" ng-class="{'show': failFlag===true}" ng-click="salir()">CERRAR</button>
        <button class="btn btn-warning hide" ng-class="{'show': (successFlag||failFlag)===false}" disabled>
            ESPERA...
        </button>

    </div>
</div>
